body{
	overflow-x: hidden;
}
#topmenu_wrap{
	#navbar > ul > li.megamenu{
		position: static;
		& > .dropdown{
			width: 100%;
			padding: $megamenuPadding;
			right: 0;
			left: 0;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: -800px;
				display: block;
				background: $topmenuDDBackground;
				width: 1000px;
				height: 100%;
				z-index: -1;
			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: -800px;
				display: block;
				background: $topmenuDDBackground;
				width: 1000px;
				height: 100%;
				z-index: -1;
			}
			& > .container > li{
				float: left;
				width: (100% / $megamenuLGCols);
				&:nth-child(#{$megamenuLGCols}n+#{($megamenuLGCols + 1)}){
					clear: left;
				}
				& > *{
					font-size: $megamenuHeadlineSize;
					font-weight: $megamenuHeadlineWeight;
					color: $megamenuHeadlineColor;
					text-transform: $megamenuHeadlineTransform;
					margin: $megamenuHeadlineMargin;
					&:hover{
						background: none;
						color: $megamenuHeadlineColor;
					}
				}
				&:hover{
					& > a, & > a:hover{
						background: none;
						color: $megamenuHeadlineColor;
					}
				}
				.dropdown{
					display: block;
					position: static;
					li{
						a{
							line-height: $topmenuLvl2Height;
						}
					}
				}
				&.active{
					& > a{
						font-size: $megamenuHeadlineSize;
						font-weight: $megamenuHeadlineWeight;
						color: $megamenuHeadlineColor;
						text-transform: $megamenuHeadlineTransform;
						margin: $megamenuHeadlineMargin;
						background: none;
						&:hover{
							background: none;
							color: $megamenuHeadlineColor;
						}
					}
				}
				@media screen and (max-width: 1199px){
					width: (100% / $megamenuMDCols);
					&:nth-child(#{$megamenuLGCols}n+#{($megamenuLGCols + 1)}){
						clear: none;
					}
					&:nth-child(#{$megamenuMDCols}n+#{($megamenuMDCols + 1)}){
						clear: left;
					}
				}
				@media screen and (max-width: 991px){
					width: (100% / $megamenuSMCols);
					&:nth-child(#{$megamenuMDCols}n+#{($megamenuMDCols + 1)}){
						clear: none;
					}
					&:nth-child(#{$megamenuSMCols}n+#{($megamenuSMCols + 1)}){
						clear: left;
					}
				}
			}
		}
	}
}