@font-face{font-family:flama;src:url(../fonts/Flama-Bold.ttf);font-weight:700}@font-face{font-family:gothamRounded;src:url(../fonts/GothamRounded-Medium.otf);font-weight:500}@font-face{font-family:gothamRounded;src:url(../fonts/Gotham_Rounded_Book.otf);font-weight:350}@font-face{font-family:gothamRounded;src:url(../fonts/GothamRounded-Bold.otf);font-weight:700}span.underoverskrift{font-weight:350;font-size:20px;color:#333;line-height:28px}span.underoverskrift *{font-size:inherit}a.lilla_knap{background:#702367;font-weight:700;font-family:flama,sans-serif;font-size:16px;padding:15px 30px;color:#fff;text-decoration:none;margin-top:15px;margin-bottom:15px;display:inline-block}a.lilla_knap:hover{background:#832979}table.tb_streg{margin-bottom:30px}table.tb_streg td{padding-top:5px;padding-bottom:5px;border-bottom:1px solid #333}
/*# sourceMappingURL=admin-style.css.map */
