@font-face {
    font-family: "flama";
    src: url('../fonts/Flama-Bold.ttf');    
    font-weight: 700;
  }

  @font-face {
    font-family: "gothamRounded";
    src: url('../fonts/GothamRounded-Medium.otf');
    font-weight: 500;
  }

  @font-face {
    font-family: "gothamRounded";
    src: url('../fonts/Gotham_Rounded_Book.otf');
    font-weight: 350;
  }

  @font-face {
    font-family: "gothamRounded";
    src: url('../fonts/GothamRounded-Bold.otf');
    font-weight: 700;
  }
 
// Udregning af højde i %: (100 / bredde-i-px) * højde-i-px

// FARVER
$primary: #702367; // Gennemgående temafarve
$grey: #f5f5f5; // F.eks. footer farve, input fokus
$darkgrey: #777777;
$greyLight: lighten($grey, 15%); // Borders
$greyLighter: lighten($greyLight, 6%); // F.eks. baggrund på nyheder, popup
$green: #42a242;
$blue: #4268a2;
$orange: #a28342;
$red: #a24242;
$dark: #333333;

$header: #fff;
$topmenu: #fff;
$footer: #141414;
$quicklinks: none;

// BASE SETTINGS
$pageWidth: 1265px; // 833px - 1140px - 1400px - 1770px - 1860px // Overvej om designet tillader at bruge .container-fluid
$selectionBackground: $primary;
$selectionColor: #fff;
$lineHeight: 1.75; // BootStrap default 1.42857143
$primaryFont: 'gothamRounded', sans-serif; // Generelt
$secondaryFont: 'flama', sans-serif; // Headlines
$borderRadius: 0; // Generelt
$cookieNoticeBackground: #fff;
$cookieNoticeBoxShaddow: 1px 1px 5px 0px rgba(0,0,0,0.2);
$galleryImgHeight: 75%; // % af bredden (responsive) eller fast i px

// TEKSTER
$linkColor: $primary;
$linkHoverColor: darken($linkColor, 15%);
$linkTextDecoration: none;
$linkTextDecorationHover: none;

$textSize: 14px;
$textColor: #444444;
$textMargin: 0 0 20px;

// OVERSKRIFTER
$headlineColor: $dark;
$headlineWeight: 700;
$headlineSize: 46px; // H1 størrelse - resten bliver udregnet automatisk

// FORMULARER
$inputBackground: #fff;
$inputColor: $textColor;
$inputHeight: 44px;
$inputMargin: 0 0 10px;
$inputPadding: 5px 15px;
$inputBorder: 1px solid $greyLight;
$inputBorderFocus: 1px solid $grey;
$placeholderColor: $textColor;

$buttonBackground: $primary;
$buttonColor: #fff;
$buttonBorder: 0;
$buttonHeight: 48px;
$buttonMargin: 0;
$buttonPadding: 20px 50px;

// CITAT
$quoteBorderWidth: 0 0 0 5px;
$quoteBorderColor: $primary;
$quoteSize: ($textSize + 2);
$quoteStyle: italic;
$quoteWeight: 700;
$quoteColor: $primary;

// BREADCRUMBS
$breadcrumbSize: ($textSize - 2);
$breadcrumbColor: $textColor;
$breadcrumbLinkColor: $linkColor;

// HOVEDMENU
$topmenuHeight: 50px;
$topmenuMargin: 0;
$topmenuPadding: 0;
$topmenuLvl1Color: #666666;
$topmenuLvl1Font: $secondaryFont;
$topmenuLvl1Size: 16px;
$topmenuLvl1Weight: 700;
$topmenuLvl1Padding: 0 15px;
$topmenuLvl1Transform: none;
$topmenuLvl1HoverBackground: none;
$topmenuLvl1HoverColor: $primary;
$topmenuLvl1ActiveBackground: $topmenuLvl1HoverBackground;
$topmenuLvl1ActiveColor: $topmenuLvl1HoverColor;
$topmenuLvl1DropdownOpenBackground: $topmenuLvl1HoverBackground;
$topmenuLvl1DropdownOpenColor: $topmenuLvl1HoverColor;
$topmenuDDBackground: $grey;
$topmenuDDPaddingTop: 5px;
$topmenuDDPaddingBottom: 5px;
$topmenuDDBorder: 0;
$topmenuLvl2Height: 32px;
$topmenuLvl2Color: $topmenuLvl1Color;
$topmenuLvl2Padding: $topmenuLvl1Padding;
$topmenuLvl2Font: $primaryFont;
$topmenuLvl2Size: ($topmenuLvl1Size - 2);
$topmenuLvl2Weight: 350;
$topmenuLvl2HoverBackground: $topmenuLvl1HoverBackground;
$topmenuLvl2HoverColor: $topmenuLvl1HoverColor;
$topmenuLvl2ActiveBackground: $topmenuLvl2HoverBackground;
$topmenuLvl2ActiveColor: $topmenuLvl2HoverColor;
// Menu beskrivelser
$topmenuLvl1DescSize: ($topmenuLvl2Size - 2);
$topmenuLvl1DescWeight: 400;
$topmenuLvl1DescTop: 3px; // Afstand mellem link og beskrivelse - kun på desktop

// MEGAMENU
$megamenuSMCols: 3; // Antal kolonner 768 - 991px
$megamenuMDCols: 5; // Antal kolonner 992 - 1199px
$megamenuLGCols: 5; // Antal kolonner 1200px+
$megamenuPadding: 30px 0;
$megamenuHeadlineSize: $topmenuLvl1Size;
$megamenuHeadlineWeight: 700;
$megamenuHeadlineColor: $topmenuLvl1Color;
$megamenuHeadlineTransform: none;
$megamenuHeadlineMargin: 0 0 10px;

// MOBIL MENU
$mmToggleSize: 36px;
$mmToggleColor: $headlineColor;
$mmHeaderHeight: 60px; // Sættes til max billede højde + 20px v. 320px display - INSPICÉR ELEMENT!
$mmHeaderBackground: $header;
$mmPrimaryColor: $topmenuLvl1Color;
$mmSecondaryColor: rgba($mmPrimaryColor, .4);
$mmBackground: $topmenu;
$mmLinkSize: $topmenuLvl1Size;
$mmLinkSubSize: $topmenuLvl1DescSize;

// SLIDER
$sliderMargin: 0 auto;
$sliderCaptionWidth: auto;
$sliderCaptionPadding: 30px;
$sliderCaptionPositionTop: auto;
$sliderCaptionPositionRight: 15px;
$sliderCaptionPositionBottom: 0;
$sliderCaptionPositionLeft: 15px;
$sliderCaptionBackground: rgba(#fff, .75);
$sliderCaptionHeadlineBackground: none;
$sliderCaptionHeadlineFont: $secondaryFont;
$sliderCaptionHeadlineSize: 24px;
$sliderCaptionHeadlineWeight: $headlineWeight;
$sliderCaptionHeadlineColor: $headlineColor;
$sliderCaptionHeadlineMargin: 0 0 15px;
$sliderCaptionHeadlinePadding: 0;
$sliderCaptionTextBackground: none;
$sliderCaptionTextFont: $primaryFont;
$sliderCaptionTextFontSize: 18px;
$sliderCaptionTextFontWeight: 400;
$sliderCaptionTextColor: $textColor;
$sliderCaptionTextMargin: 0;
$sliderCaptionTextPadding: 0;
$sliderArrowSize: 64px;
$sliderArrowColor: rgba(#fff, .7);
$sliderArrowHoverColor: rgba(#fff, .9);
$sliderBulletsPosition: right; // left - center - right
$sliderBulletsPositionTop: 15px;
$sliderBulletsPositionBottom: auto;
$sliderBulletMargin: 0 0 0 8px;
$sliderBulletSize: 12px;
$sliderBulletsColor: #fff;
$sliderBulletsActiveColor: $primary;

// FAST HØJDE PÅ SLIDER
$sliderFixedHeight: false;
$sliderXLGHeight:	900px; // 1921+ px
$sliderLGHeight:	750px; // 1200-1920px
$sliderMDHeight:	600px; // 992-1199px
$sliderSMHeight:	450px; // 768-991px
$sliderXSHeight:	300px; // 569-767px
$sliderXXSHeight:	150px; // 0-568px

// GENEREL KONTAKTBOKS - GÅR IGEN PÅ SLIDER
$contactboxBackground: none;
$contactboxPadding: 10px;
$contactboxBorderRadius: $borderRadius;
$contactboxInputBorder: $inputBorder;
$contactboxInputBorderFocus: $inputBorderFocus;
$contactboxInputRowCount: 2; // Hvor mange rækker input felter er der i formularen?

// SLIDER KONTAKTBOKS
$sliderContactBackground: rgba(#fff, .7);
$sliderContactWidth: 300px;
$sliderContactHeight: auto;
$sliderContactPositionTop: 50px;
$sliderContactPositionRight: 100px;
$sliderContactPositionBottom: auto;
$sliderContactPositionLeft: auto;
$sliderContactPadding: $contactboxPadding;
$sliderContactBorderRadius: $contactboxBorderRadius;
$sliderContactInputBorder: $contactboxInputBorder;
$sliderContactInputBorderFocus: $contactboxInputBorderFocus;

// BANNER
$bannerMargin: 0 0 30px;

// KONTAKTFORMULAR PÅ SIDE
$contactFormInputBorderRadius: $borderRadius;
$contactFormSubmitBackground: $primary;
$contactFormSubmitColor: #fff;
$contactFormSubmitHoverBackground: darken($contactFormSubmitBackground, 5%);
$contactFormSubmitHoverColor: $contactFormSubmitColor;

// GOOGLE MAP
$googleMapMargin: 0 0 30px;
$googleMapOverlay: rgba(#000, .05);
$googleMapHeight: 20%; // Højde i % eller px

// QUICKLINKS
$quicklinkBackground: #fff; // Single quicklink
$quicklinkMargin: 0 0 30px;
$quicklinkPadding: 0;
$quicklinkBorder: 0;
$quicklinkImageBackgroundSize: cover;
$quicklinkImageMargin: 0;
$quicklinkImageHeight: 50%; // Højde i % eller px
$quicklinkTextboxPadding: 10px;
$quicklinkTextboxMinHeight: 0;

// SIDEBAR_ITEMS
$sidebarItemBackground: none;
$sidebarItemBorder: 0;
$sidebarItemPadding: 0;
$sidebarItemMargin: 0 0 30px;
$sidebarItemImageWidth: 100%;
$sidebarItemImageMargin: 0 0 10px;
$sidebarItemTextboxPadding: 0;
$sidebarItemTextboxAlign: left;

// FOOTER
$footerPadding: 45px 0 25px;
$footerSize: $textSize;
$footerColor: #aaaaaa;
$footerHeadlineColor: $grey;
$footerLinkColor: $footerColor;
$footerLinkHoverColor: #ffffff; //lighten($footerColor, 20%);
//Tlf, Mail
$footerTlfLinkColor: $footerColor; 
$footerTlfLinkHoverColor: $footerLinkHoverColor;
$footerMailLinkColor: $footerColor; 
$footerMailLinkHoverColor: $footerLinkHoverColor;

// SIDE/KATEGORI MENU
$treeMenuHeadlineHeight: 50px;
$treeMenuHeadlineBackground: $primary;
$treeMenuHeadlineColor: #fff;
$treeMenuHeadlineSize: ($textSize + 2);
$treeMenuHeadlineWeight: 400;
$treeMenuHeadlineBorder: 0;
$treeMenuHeadlineBorderRadius: $borderRadius;
$treeMenuItemIndent: 15px;
$treeMenuItemHeight: 32px;
$treeMenuItemColor: $textColor;
$treeMenuItemHoverBackground: $greyLighter;
$treeMenuItemHoverColor: $treeMenuItemColor;
$treeMenuItemCurrentBackground: $treeMenuItemHoverBackground;
$treeMenuItemCurrentColor: $treeMenuItemColor;
$treeMenuItemParentBackground: $treeMenuItemHoverBackground;
$treeMenuItemParentColor: $treeMenuItemColor;

// NYHEDER / REFERENCER
$moduleMargin: 0 0 30px;
$moduleHeadlineSize: 22px;
$moduleHeadlineMargin: 0 0 2px;
$moduleHeadlinePadding: 8px 0;
$moduleLinkSize: $textSize;
$moduleLinkPadding: 8px 0;
$articleContentHeadlineSize: 16px;
$articleContentHeadlineColor: $headlineColor;
$articleContentHeadlineWeight: 700;
$articleContentHeadlineMargin: 0 0 5px;

// NYHEDER
$newsArticleBackground: $greyLighter;
$newsArticlePadding: 20px;
$newsArticleBorder: 1px solid $greyLight;
$newsArticleDateWidth: 53px;
$newsArticleDateBorder: 0;
$newsArticleDateBorderRadius: $borderRadius;
$newsArticleDateMargin: 0 20px 20px 0;
$newsArticleDateDayHeight: 45px;
$newsArticleDateDayBackground: #fff;
$newsArticleDateDayFontSize: 25px;
$newsArticleDateDayFontWeight: 700;
$newsArticleDateDayFontColor: $headlineColor;
$newsArticleDateMonthHeight: 26px;
$newsArticleDateMonthBackground: $headlineColor;
$newsArticleDateMonthFontSize: ($textSize - 1);
$newsArticleDateMonthFontWeight: 400;
$newsArticleDateMonthFontColor: #fff;
$newsArticleContentFontSize: $textSize;
$newsArticleContentFontColor: $headlineColor;
$newsArticleContentFontWeight: 400;
$newsArticleContentMargin: 0;

// REFERENCER
$referencesArticleContentHeadlineAlign: center;
$referencesArticleContentImageMargin: 0 0 10px;

// AVANCERET GALLERI / MEDARBEJDERE / REFERENCER - NAVIGATION
$navLinksSize: $textSize;
$navLinksWeight: 700;
$navLinksDecoration: none;
$navLinksHoverDecoration: none;

// PAGINATION
$paginationLinkPadding: 5px 15px;
$paginationLinkBorder: 1px solid $greyLight;
$paginationLinkColor: $primary;
$paginationLinkBackground: #fff;
$paginationLinkActiveBackground: $primary;
$paginationLinkActiveBorder: 1px solid $paginationLinkActiveBackground;
$paginationLinkActiveColor: #fff;
$paginationLinkDisabledColor: $grey;

// KOMMENTARER
$commentsHeadlineMargin: 15px 0;
$commentsHeadlineFontSize: ($textSize + 4);
$commentsHeadlineFontColor: $headlineColor;
$commentReplyIndent: 30px;
$commentReplyTitleMargin: 15px 0;
$commentReplyTitleFontSize: ($textSize + 2);
$commentReplyTitleFontColor: $headlineColor;
$commentReplyLabelFontWeight: 700;
$commentReplyTextareaBorder: 1px solid #ccc;
$commentReplyTextareaBorderRadius: $borderRadius;
$commentReplyTextareaMargin: 0 0 15px;

// CUSTOM MENU
$customMenuLinkSize: $textSize;
$customMenuLinkColor: $linkColor;
$customMenuLinkPadding: 0;
$customMenuLinkBackground: none;
$customMenuLinkHoverColor: $linkHoverColor;

// TILBAGE TIL TOP
$backtotopSize: 25px;
$backtotopBackground: $primary;
$backtotopColor: #fff;
$backtotopOpacity: 0.7;
$backtotopHoverOpacity: 0.9;

// INSTAFEED
$instafeedMargin: 0 0 30px;
$instafeedLikesBackground: rgba(#fff, .7);
$instafeedLikesSize: 20px;
$instafeedLikesColor: $red;
$instafeedItemsMargin: 0 15px;

// POPUP
$popupPositionLeft: 15px;
$popupPositionRight: auto;
$popupTitleSize: $textSize;
$popupTitleBackground: $primary;
$popupTitleColor: #fff;
$popupTitlePositionLeft: 0;
$popupTitlePositionRight: auto;
$popupTitleBorderTopLeftRadius: 4px;
$popupTitleBorderTopRightRadius: 4px;
$popupTitleBorderBottomRightRadius: 0;
$popupTitleBorderBottomLeftRadius: 0;
$popupContentPadding: 15px;
$popupContentBackground: $greyLighter;
$popupInputsWidth: 290px;