@import 'theme';
span.underoverskrift{
    font-weight: 350;
    font-size: 20px;
    color:$dark;
    line-height: 28px;

    *{
        font-size: inherit;
    } 
}

a.lilla_knap{
    background: $primary;
    font-weight: 700;
    font-family: $secondaryFont;
    font-size: 16px;
    padding: 15px 30px;
    color:#fff;
    text-decoration: none;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
    &:hover{
        background: lighten($primary, 5%);
    }
}

table.tb_streg{
    margin-bottom:30px;
    td{
        padding-top:5px;
        padding-bottom:5px;
        border-bottom:1px solid $dark;
    }
}