@import 'includes/functions';
@import 'includes/mixins';
@import 'theme';
@import 'includes/bootstrap';
// @import 'includes/bootstrap-xs'; // 833px grid
@import 'includes/mmenu';
@import 'includes/slick';
@import 'includes/core';
@import 'includes/megamenu';
@import 'includes/print';
//@import 'includes/animate';
//@import 'includes/hover';
@import 'admin-style';

.flex-center{
	display: flex;
	align-items: center;
	-webkit-flex-wrap: wrap;  
	flex-wrap: wrap; 
}
.h1.bigger{
	font-size: 64px;
	@include res_max(768px){
		font-size: 48px;
	}
}

.button{
	font-weight: 700;
	line-height: normal;
	font-size: 16px;

	&.outline{

		border: 2px solid $primary;
		background:transparent;
		color:$primary;
		font-family: $secondaryFont;
		font-size: 16px;
		padding-top:15px;
		padding-bottom:15px;
		padding-left: 15px;
		padding-right: 15px;

		i{ vertical-align: middle; }

		&:hover{
			background:$primary;
			color:#fff;
		}
	}

	&.mixitup-control-active{
		background: darken($buttonBackground, 5%);
	}
	
}

section{
	ul{
		list-style-position: outside;
    	padding-left: 20px;
	}
	
}

.wpml-ls-legacy-dropdown {
	width: auto;
    max-width: 100%;
	display: inline-block;
	
	a{	
		display: inline-block;
		border:none;
		background-color: transparent;

		&:hover, &:focus{
			background:$grey;
		}
	}
	a.wpml-ls-item-toggle:after{
		content:'\f107';
		font-family: "Font Awesome 5 pro";
		border:none;
		top: calc(50%);
    	transform: translateY(-50%);
	}
	.wpml-ls-flag{
		width:22px;
		height:14px;
	}

	.wpml-ls-sub-menu{
		border:none;
		background:$grey;

		a{
			width: 100%;

			&:hover .wpml-ls-flag{
				opacity: 1;
			}
		}

		.wpml-ls-flag{
			opacity: 0.8;
			
		}
	}
	
	

	 .wpml-ls-current-language:hover>a{}
}


input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], input[type="number"], select, textarea{
	@extend .form-control;
}
input[type="submit"], input[type="button"], input[type="reset"], button{
	@extend .btn;
}
input[type="reset"]{
	@extend .btn-danger;
}

.kontaktboks{
	input[type="text"], input[type="email"], input[type="tel"]{

	}
	textarea{

	}
	input[type="submit"]{

	}
	&.slider, &.banner{

		input[type="text"], input[type="email"], input[type="tel"]{

		}
		textarea{

		}
		input[type="submit"]{

		}
	}
}

#header{

	position: fixed;
	width: 100%;
	z-index: 1000;
	
	.header_top{
		background:$grey;
		color:$darkgrey;
		padding-top:10px;
		padding-bottom:10px;

		.menu-top-menu-container, .menu-top-menu-english-container{
			ul{
				display: inline-block;
				float: right;
				margin-bottom:0px;

				li{
					float: left;
					list-style-type: none;
					margin-right: 10px;

					a{
						color:$darkgrey;
						font-size: 13px;
						font-weight: 350;
						&:hover{
							color: darken($darkgrey, 15%);
						}
					}
				}
			}
		}

	}

	.main_header{
		//padding-top:20px;
		//padding-bottom:20px;

		.menu-hovedmenu-container, .menu-hovedmenu-english-container{  

			ul{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}

			.button-item{
				float: right!important;
				//border-bottom: 2px solid transparent;
				margin-left: 15px;
				order: 100;
				
				a{
					@extend .button;
					color:#fff!important;
					padding:$buttonPadding!important;
					background: $primary!important;
					line-height: normal!important;
					&:hover{
						background: lighten($primary, 10%)!important;
						//border-bottom: 2px solid transparent!important;
					}
				}
				
			}
		}
	}
	
	#logo{
		padding: 20px 0;
		display: inline-block;
	}
	#topmenu_wrap{
		//margin-top: 26px;
		@include res_max(991px){
			display: inline-block;
		}
		#navbar > ul{
			@extend .clearfix;
			//display: block;
			float: right;

			>li:not(.button-item)>a  {
				//border-bottom: 2px solid transparent;
				padding-top: 20px;
				padding-bottom:20px;
				position: relative;

				&::before{
					content:'';
					//width: 100%;
					height: 2px;
					background: transparent;
					display: block;
					bottom: 30px;
					position: absolute;
					left: 15px;
    				right: 15px;
				}

				&:hover{
				
						//border-bottom: 2px solid $primary; 
						&:before{
							background: $primary;
						}
				}
			}
			>li.current_page_item>a, >li.current_page_ancestor>a{
				//border-bottom: 2px solid $primary;  
				&:before{
					background: $primary;
				}
			}
			>li.menu-item-has-children{
				> a:after{
					content: '\f107';
					font-family: 'Font Awesome 5 Pro';
					display: inline-block;
					margin-left:5px;
					font-weight: 400;
				}
			}

		}
	}

	@include res_max(991px){
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); 
	}



	.menu_wrapper{
		@include res_max(991px){
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: wrap;
		}

		.search_mobile{
			margin-right: 15px;
			.search_btn{
				font-size: 24px;
				
			}
			.search_field{
				display: none;
				position: absolute;
				left: 0px;
				right: 0px;
				top: 100%;

				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #fff;
				 }
				 ::-moz-placeholder { /* Firefox 19+ */
					 color: #fff;
				 }
				 :-ms-input-placeholder { /* IE 10+ */
					 color: #fff;
				 }
				 :-moz-placeholder { /* Firefox 18- */
					 color: #fff;
				 }

				.search-field{
					width: 100%;
					padding:15px;
					background:$primary;
					color:#fff;
				}
				.submit_search_btn{
					position: absolute;
					top: 50%;
					right: 15px;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					color: #fff;
					padding: 15px;
					z-index: 15;
					display: block;
				
				}
				.search-submit{
					display: none;
				}
			}
		}

		.mobile_book{
			margin-right: 15px;
			a.button{
				padding:15px;
			}
		}
	}

}

#mm-Mobile_Menu{
	.menu-header-search,.button-item{
		display: none;
	}
	#mm-logo{
		margin:auto;
	}
}





//#header{position:relative;}
.nav_hovedemenu, .menu_wrapper{position:static}
#topmenu_wrap #navbar {
	position: static;
  .dropdown{
    z-index: 20;
  }
}
.menu-header-search{
                position:static!important;
                //border-bottom: 2px solid transparent;
				padding: $topmenuLvl1Padding;
				cursor:pointer;
                &:hover{
					   //border-bottom: 2px solid $primary; 
					   .search_btn{
						   color:$primary;
						   
					   }
                }
				
				
                .search_btn {
                    line-height: $topmenuHeight;
                    @include res_max(1199px){
                        line-height: 89px;
                    }
					color:$topmenuLvl1Color;
					
					width:20px;
					display: inline-block; 
                   
                    
                }
                .search_field{
                    display: none;
                    position: absolute;
                    top: 90%;
                    right: 0px;
                    left: 0px;
                    
					z-index: 10;
					
					i{
						position: absolute;
						top: 50%;
						right: 15px;
						transform: translateY(-50%);
						color: #fff;
						padding: 15px;
						z-index: 15;
						display: block;
					}

                    input{
                    line-height: 50px;
                    float: left;
                    display: inline-block;
                    }
                    input[type='submit']{
                        display: none;
                    }
                    input[type='search']{
                        background: $primary;
                        color:#fff;
                        width: 100%;
                        padding: 0px 10px;
                    }
                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                       color: #fff;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                        color: #fff;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                        color: #fff;
                    }
                    :-moz-placeholder { /* Firefox 18- */
                        color: #fff;
                    }
                }
			}
			

			

.page_header{
	padding-top:55px;
	@include res_max(767px){
		padding-top:25px;
	}
	//padding-bottom:10px;
}

.billedesektion{

	padding-top:30px;
	padding-bottom:10px;

	.v_billede_col{
		
	}
	.h_billede_col{
		@include res_min(768px){
		padding-left: 0px;
		}
	}

	.billedesektion_1{}
	.billedesektion_2{
		margin-bottom:15px;
	}
	.billedesektion_3{}
}

.text_aside{

	padding-top:30px;
	padding-bottom:10px;

	.v-indhold{

		.indhold{
			margin-bottom: 30px;
			

			@include res_min(768px){
				max-width: 83.33333333%;
			}

			&.read_more{
				max-height: 270px;
				@include transition(height .3s ease);
				overflow: hidden;
				position: relative;
				padding-bottom: 30px;


				
				&:not(.expand):after{
					content:'';
					position: absolute;
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
					background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

					width:100%;
					height:120px;
					bottom: 0px;
					left:0px;
					right:0px;

				}

				.read_more_btn:after{
					content:'\f078';
					font-family: 'Font Awesome 5 Pro';
					margin-left:5px;
					
				}

				&.expand {
					max-height:100%;
					.read_more_btn:after{
						content:'\f106';
						font-family: 'Font Awesome 5 Pro';
					}
				}

			}
			.read_more_btn{
				position: absolute;
				bottom:0px;
				z-index: 10;
				color:$primary;
				font-weight: 700;
				font-family: $secondaryFont;
				font-size: 16px;
				cursor: pointer;
			}
		}

		.link_wrapper{
			// display: flex;
			// justify-content: space-between;
			// flex-wrap: wrap;

			.button{
				display: block;
				padding-left:10px;
				padding-right:10px;
				margin-bottom: 30px;

				&.pdf{
					i{
						margin-right: 10px;
						display: inline-block;
					}
				}
				.url{
					i{
						margin-left: 10px;
						display: inline-block; 
					}
				}
			}
		}

	}
	.h-indhold{

	}
}

.text{
	padding-top:30px;
	padding-bottom:10px;
}

.usp_kasse{
	
	background: $grey;
	padding: 25px;
	//margin-bottom: 20px;

	.h3{
		font-size: 20px;
		font-weight: 700;
	}

	ul.usp_liste{
		padding-left: 0px;
		li{
			//list-style: outside; 
			list-style-type: none;
			color:$primary;
			padding-top:10px;
			padding-bottom:10px;
			border-bottom:1px solid #e5e5e5;
			position: relative;
			padding-left:34px;
			font-weight: 500;
			font-size: 15px;
			
			&:last-of-type(){
				border-bottom:0px;
			}

			&:before{
				content:"\f00c";
				font-family: 'Font Awesome 5 Pro'; 
				font-weight:300;
				margin-right:10px;
				color:#fff;
				background:$primary;
				font-size: 11px;
				width:24px;
				height:24px;
				border-radius: 50%;
				display: inline-block;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left:0px;
			}
		}
	}

	.button{
		width: 100%;
	}
}

.aside_kasse{
	margin-bottom: 20px;
	background: #f5f5f5;
    padding: 25px;

	.h3{
		font-size: 20px;
		font-weight: 700;
	}

	.button{
		width: 100%;
	}

}

.op_slider_arror_wrapper{
	position: relative;
	.op_slider_arror{
		position: absolute;
		bottom: 0px;
	}
}

.slick-arrow{
	background:$grey;
	width:64px;
	height:64px;
	@include res_max(767px){
		width: 50px;
		height:50px;
	}
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	font-size: 16px;
	cursor: pointer;

	&.slick-prev{}
	&.slick-next{}
	&:hover{
		background:darken($grey, 10%);
	}

}

.slideshow{
	padding-top:30px;
	padding-bottom:10px;

	.galleri_item{
		//height: 500px;
		
		.galleri_wrapper{

			overflow: hidden;
			position: relative;
			&:after{
				content: "";
				display: block;
				padding-bottom: 42.8571%;
			}
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
	}
}

.event_box{
	background:$grey;
	padding:25px;
}

.citater{
	padding-top:30px;
	padding-bottom:10px;

	.citat_slider{
			
		
		padding-top: 60px;
		padding-bottom:30px;
		position: relative;

		&::before{
			content: "";
			position: absolute;
			background: $grey;
			left:15px;
			right:15px;
			bottom:0px;
			top:0px;
		}

		&:after{
			content:"";
			display:block;
			height:0;
			clear:both; 
		}
	}

	.citat-item{
		margin-bottom: 30px;
		.quote{
			text-align:center;

			span{
				font-family: $secondaryFont;
				font-size: 36px;
				font-weight: 700;
				color:$darkgrey;

				border: 1px solid #e5e5e5;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				display: inline-block;
				margin-bottom: 35px;
			}
		}
		.citat{
			font-size:25px;
			font-weight: 700;
			font-family: $secondaryFont;
			line-height: 36px;
			margin-bottom:40px;
			@include res_max(767px){
				padding-left:15px;
				padding-right:15px;
			}
		}
		.citat_info{

			display: flex;
			justify-content: center;

			.citat_info_wrapper{
				padding-left:65px;
				position: relative;
			}
			.citat_info_wrapper::before{
				content:"";
				display: inline-block;
				float: left;
				width: 50px;
				height: 50px;
				background:#777777;
				border-radius: 50%;
				position: absolute;
				left:0px;
			}

			.citat_afsender{

				font-family: $secondaryFont;
				font-weight: 700;
				color: $dark;

			}
			.citat_stilling{
				font-size: 13px;
				font-weight: 350;
			}
		}
	}

	.slick-arrow{
		background: #e5e5e5;  //#fff;
		color: $darkgrey;
	}
}

.cta{

	color:#fff;
	padding-top:30px;
	padding-bottom:10px;
		
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6, p, li, ul, ol{
		color:#fff;
	}

	.bg{
		
		padding-top:60px;
		padding-bottom:30px;
		padding-left:60px;
		padding-right: 60px;

		@include res_max(767px){
			padding-left:25px;
			padding-right:25px;
		}

		background: url(../images/bg_logo.png)$primary;
		background-repeat: no-repeat;
		background-position: right -30% top 30%;

		// &::before{
		// 	content:'';
		// 	background: url('../images/bg_logo.png');
		// 	width: 470px;
		// 	height:494px;
		// 	display: inline-block;
		// 	z-index: 10;
		// }

		&:after{
			content:"";
			display:block;
			height:0;
			clear:both; 
		}
	}

	.row{
		display: flex;
		align-items: center;
		flex-wrap: wrap;	
	}
	
	.overskrift{

		p{
		font-size:40px;
		font-weight: 700;
		font-family: $secondaryFont;
		line-height: normal;
		}
	}
		
	.button_col{
		.button{
			float: right;
			background:#ffffff;
			color:$primary;
			margin-bottom: 20px;

			@include res_max(767px){
				width: 100%;
			}

			&:hover{
				background: lighten($primary, 15%);
				color: #fff;
			}
		}
	}	
}

.global_cta + .cta{
	padding-top:10px;
}

.global_cta ~ .cta {
    margin-bottom: 30px;
}

.tabs_indledning{
	padding-top: 50px;
	margin-bottom:30px;
	background: $grey;

	.tabs_button_wrapper{
		display: flex;
		// flex-wrap: wrap;
		.button{
			flex-grow: 1;
			background: $primary; //#e5e5e5;
			color:#fff; //$primary;
			position: relative;

			@include res_max(767px){
				padding: 10px 10px;
			}

			&.active, &:hover, &.mixitup-control-active{
				background:#833079; //$primary;
				color:#fff;
			}

			&.active:after, &.mixitup-control-active:after{
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 100%;
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid #833079; //$primary;
				clear: both;
			}

		}
	}
}

.tabs_content{
	padding-bottom: 10px;
	padding-top:30px;

	.tab_item { 

		.tab_content{
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			@include res_max(767px){
				margin-bottom:30px;
				&:last-of-type{
					margin-bottom: 0px;
				}
			}

			&:nth-last-of-type(odd){
				.image_col{
					@include res_min(768px){
						padding-right:0px;
					}
				}

				.info_col{
					@include res_min(768px){
						padding-left:40px;
					}

				}
			}

			&:nth-last-of-type(even){
				flex-direction:row-reverse;	
				.image_col{
					@include res_min(768px){
					padding-left:0px;
					}
				}
				.info_col{
					@include res_min(768px){
					padding-right:40px;
					}
				}
				
			}
			
			.image_col{
				align-self: stretch;
				img{
					object-fit: cover;
					height: 100%;
					width: 100%;				
				}
			}

			.info_col{
				padding-top:15px;
				padding-bottom:15px;

				.over_overskrift{
					font-size: 14px;
					font-weight: 700;
					font-family: $secondaryFont;
					color:#777777;
					margin-bottom:20px;
				}
				.overskrift{
					font-family: $secondaryFont;
					font-size: 40px;
					font-weight: 700;
					line-height: normal;
					margin-bottom:30px;

					@include res_max(767px){
						font-size: 30px;
					}

				}
				.indledning{

					margin-bottom:30px;
				}

				.link{
					font-family: $secondaryFont;
					font-weight: 700;
					font-size: 16px;
				}
			}
			
		}
	}
}

.link_bokse{
	padding-top:30px;
	padding-bottom:10px;

	.link_boks_item{
		margin-bottom:30px;
	}
	.link_boks_item:hover{
		img{
			@include zoom;
		}
		.title{
			color:$primary;
		}
	}

	.img_wrapper{
		overflow: hidden;
		img{
			@include transition(all .3s ease);
		}
	}

	.title{
		font-size: 22px;
		font-weight: 700;
		font-family: $secondaryFont;
		padding-top: 15px;
		color:$dark;
	}
}

.usp_links_kasser{
	padding-top:30px;
	padding-bottom:10px;
	//margin-bottom: -30px;
	.usp_links_kasse_item{

		padding-bottom: 15px;
		margin-bottom:15px;

		@include res_max(767px){
			position: relative;
			&:after{
				content: '';
				height: 2px;
				background: $primary;
				width:50%;
				position: absolute;
				bottom:0px;
				left:50%;
				transform: translateX(-50%);
			}
		}
		
		img{
			object-fit: cover;
    		width: 100%;
		}
	}
}

.priskasser{
	padding-top:30px;
	padding-bottom:10px;

	.pris_item{
		margin-bottom: 30px;

		&:nth-of-type(3n+5){
			clear: both;
		}
	}

	.usp_kasse{
		.h3{
			text-align: center;
			font-size: 30px;
			margin-bottom:25px;
		}
		.usp_liste{
			li:first-of-type{
				border-top:1px solid #e5e5e5;
			}
			li:last-of-type{
				border-bottom:1px solid #e5e5e5;
			}

		}

		.pris{
			
			font-size: 40px;
			color:$primary;
			font-weight: 700;
			font-family: $secondaryFont;
		}
		.under_pris{
			margin-bottom:30px;
		}
		
	}
}

.knapper_links{
	padding-top:30px;
	padding-bottom:10px;
	.knapper_links_item{
		margin-bottom:30px;
		.button{
			width: 100%;
		}
	}
}

.events{
	padding-top:30px;
	padding-bottom:10px;
}

#content{
	padding: 30px 0;
        ul, ol{
            padding-left:20px;
        }
        li{
		list-style-position: outside;
	}

}

.single-events{
	.event_image{
		margin-bottom:30px;

	}

	.event_box{
		.button{
			width: 100%;
			margin-bottom:30px;
		}
	}
}

.event_archive{
	padding-top:30px;
	padding-bottom:10px;
	.event_indledning{
		margin-bottom: 30px;
	}

	.event_sortering{
		margin-bottom: 30px;
	}
}

.no-events{
	padding-top:30px;
	padding-bottom:10px;
}

.event_item{
	margin-bottom:30px;

	.event_image{
		position: relative;
		overflow: hidden;
		border: 1px solid #f5f5f5;

		&:after{
			content: "";
			display: block;
			padding-bottom: 56.25%; //100%;
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			@include transition(all .3s ease);
		}
		&:hover img{
			@include zoom;
	   }
   
	}
	.bg{
		background: $grey;
		padding:25px;
		color:$dark;
	}
}


.overfooter{
	background: $grey;
	margin-top:30px;
	padding-top:75px;
	padding-bottom:45px;

	.overfooter_menu{
		margin-bottom:30px;
		@include res_max(370px){
			width:100%;
		}

		@include res_max(767px){
		&:nth-of-type(2n+4){
			clear: both;
		}
		}
	}

	.h1{
		margin-bottom:50px;
	}

	.h3{
		font-size: 22px;
	}

	a{
		font-size: 15px;
	}

	ul, ol{
		
	}
	li{
		list-style: none;
		position: relative;
		padding-left:30px;
		&:before{
			position: absolute;
			left:0px;
			content:'\f30b';
			font-family: 'Font Awesome 5 Pro';
			font-weight: 400;
			display: inline-block;
			margin-right:15px;
			color:$primary;
		}
	}

}
#quicklinks{
	article, & > div > a{
		.image_wrap{
			.image{

			}
		}
		.text{
			h2, h3, h4{

			}
			p{

			}
			.button{
				&:hover{

				}
			}
		}
	}
}
#footer{

	@include res_max(767px){
		.row{
			display: flex;
			flex-wrap: wrap;
			
			.v_info{
				order:100;
			}
		}
	}
	
    
    .footer-col{
		margin-bottom:10px;

		&, p, a{
			font-weight: 350;
			font-size: 13px;
		}
		

		#some a {
			display: inline-block;
			margin-right:10px;
			color:#ffffff;
			&:hover{
				color:$footerLinkColor;
			}
			i{
				font-size: 16px;
				font-weight: 400; 
			}
		}

		.menu_overskrift{
			font-size: 13px;
			font-weight: 500;
			color:#fff;
			margin-bottom:25px;
		}
	}
	
	.footer_logo{
		margin-bottom: 30px;
	}
	
}

.archive_indledning{
	margin-bottom:30px;
}

.nyheds-item{
	margin-bottom:30px;
	.overskrift{
		font-size: 22px;
		line-height: normal;
		margin-bottom:15px;
	}
	.dato{
		color:$primary;
		font-weight: 350;
		font-size: 15px;
	}
	.bg{
		background: $grey;
		padding:25px;
		color:$dark;
	}

}

.single_thumbnail_w{
	padding-top:30px;
	padding-bottom:10px;

	
}
.single_aside{
	padding-top:30px;
	padding-bottom:10px;
}
.singel_content{
	padding-top:30px;
	padding-bottom:10px;
}

.pagination_wrapper{
	text-align: center;

	a, span{
		font-family: $secondaryFont;
		font-weight: 700;
		font-size: 16px;
	}
	.page-numbers{
		color:#666666;
		padding-left:5px;
		padding-right:5px;
		&:hover{
			color:$primary;
		}
		&.current{
			color:$primary;
			//text-decoration: underline;
			border-bottom:2px solid $primary;
			
		}
	}
	.prev.page-numbers{
		float:left;
		color:$primary;
		&:hover{
			color:lighten($primary, 5%);
		}
	}
	.next.page-numbers{
		float:right;
		color:$primary;
		&:hover{
			color:lighten($primary, 5%);
		}
	}
}

.search{
	article{
	 
	}
	.read_more{
		margin-top: 15px;
	}

	.search_pagination{
		.nav-previous, .nav-next{
			font-family: $secondaryFont;
			font-weight: 700;
		}
	}
}

hr{
	border-color:$dark;
}


@mixin theme($color) {
	a{
		color:$color;
	}
	a:focus, a:hover{
		color:darken($color, 8%);
	}

	.button{ 
		&.outline{
			border-color:$color;
		}
	}

	#header .main_header .menu-hovedmenu-container .button-item a, 
	#header .main_header .menu-hovedmenu-english-container .button-item a{
		background: $color!important;

		&:hover{
			background:darken($color, 8%)!important;
		}
	}

	#header #topmenu_wrap #navbar>ul>li:not(.button-item)>a:hover:before{
		background: $color;
	}
	#topmenu_wrap #navbar > ul > li{
		&.active > a:hover,
		&.active > a:focus,
		&.current-menu-ancestor > a,
		&.current-menu-ancestor > a:hover,
		&.current-menu-ancestor > a:focus,
		&.current-menu-parent > a,
		&.current-menu-parent > a:hover,
		&.current-menu-parent > a:focus,
		&.current-page-ancestor > a,
		&.current-page-ancestor > a:hover,
		&.current-page-ancestor > a:focus
		&.current-page-parent > a,
		&.current-page-parent > a:hover,
		&.current-page-parent > a:focus
		&.current-post-ancestor > a,
		&.current-post-ancestor > a:hover,
		&.current-post-ancestor > a:focus
		&.current-post-parent > a,
		&.current-post-parent > a:hover,
		&.current-post-parent > a:focus
		{
			
			color: $color;
		}
		
		&:hover>a{
			color:$color;
		}
	}
	#topmenu_wrap #navbar>ul>li ul li:hover>a, #topmenu_wrap #navbar>ul>li ul li:hover>a:hover{
		color:$color;
	}
	
	.menu-header-search:hover .search_btn{
		color:$color;
	}

	.menu-header-search .search_field input[type=search]{
		background: $color;
	}

	#breadcrumbs a {
		color: $color;
	}

	.text_aside .v-indhold .indhold .read_more_btn{
		color:$color;
	}
	.button, input[type="button"], input[type="submit"], button, .btn{
		background:$color;
		color:#fff;

		&:hover{
			background: darken($color, 8%);
			color:#fff;
		}
	}
	.usp_kasse ul.usp_liste li{
		color: $color;
		&:before{
			background: $color;
		}
	}

	.tabs_indledning{
		.tabs_button_wrapper{
			.button{
				background:$color;
				&.active, &:hover, &.mixitup-control-active{
					background:lighten($color, 10%);
				}
	
				&.active:after, &.mixitup-control-active:after{
					border-top: 20px solid lighten($color, 10%);				
				}
			}
		}
	}

	.cta{ 
		.bg{
			background: url(../images/bg_logo_b.png) $color;
			background-repeat: no-repeat;
			background-position: right -30% top 30%;
		}

		.button_col{
			.button{
				
				background:#ffffff;
				color:$color;			
	
				&:hover{
					background: lighten($color, 10%);
					color: #fff;
				}
			}
		}	
	}

	.link_bokse .link_boks_item:hover .title{
		color:$color;
	}
	.overfooter li:before{
		color:$color;
	}

	.priskasser .usp_kasse .pris{
		color:$color;
	}
}


body.prim_blue {
	@include theme(#065190);
}


// Media Queries
@media screen and (min-width: 1460px){
	// Desktop - stor
}
@media screen and (max-width: 1459px){
	// Laptop - stor / Desktop - lille
}
@media screen and (max-width: 1199px){
	// Tablet - liggende / Laptop - lille
}
@media screen and (max-width: 991px){
	// Tablet - stående
}
@media screen and (max-width: 767px){
	// iPhone 5+ - liggende
}
@media screen and (max-width: 567px){
	// Smartphone - liggende
}
@media screen and (max-width: 479px){
	// Smartphone - stående
}

@import 'includes/cookies';